CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

CONFIG_ESP_WIFI_SSID="mywifi"
CONFIG_ESP_WIFI_PASSWORD="correcthorsebatterystaple"
CONFIG_API_ROOT="https://carshare.example.com/hardware/api/v1/"
